body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 24px;
}
h2{
    color:aquamarine;
    font-size: 14px;
}
p {
    line-height: 1.6;
    color:aqua;
    margin: 10px 0;
}